.text-center {
  text-align: center;
}

.align-start {
  text-align: start;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: end;
}

.space-bottom {
  margin-bottom: var(--space);
}

.lrt * {
  direction: ltr;
}
