@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.dir-ltr {
  direction: ltr;
  text-align: left;
}

.dir-rtl {
  direction: rtl;
  text-align: right;
}

.dir-rtl code {
  direction: ltr;
  text-align: left;
  display: inline-block;
}
/* Content Header Link */
.content-header-link {
  opacity: 0;
  margin-inline-start: -24px;
  padding-inline-end: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.header-logo-transition-root {
  transform: translateX(-40vw) translateY(12vh) scale(3);
}

@media (min-width: 1280px) {
  .header-logo-transition-root {
    transform: translateY(12vh) scale(3);
  }
}
